---
import Card from "../cards/Post.astro";

const blogPosts = await Astro.glob("../../pages/blog/posts/*.md");

blogPosts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate),
);
---

<div class="flex flex-col gap-4">
  <a class="hover:underline" href="/blog">
    <h2 class="text-3xl font-bold">Latest blog entries:</h2>
  </a>
  <div class="flex flex-col gap-6">
    {
      blogPosts.map((posts) => (
        <Card
          title={posts.frontmatter.title}
          body={posts.frontmatter.description}
          imgSrc={posts.frontmatter.image.url}
          pubDate={new Date(posts.frontmatter.pubDate)}
          url={posts.url}
        />
      ))
    }
  </div>
</div>
