---
import Card from "../cards/Project.astro";
const projects = await Astro.glob("../../pages/projects/posts/*.md");

projects.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate),
);
---

<div class="flex flex-col gap-4">
  <a class="hover:underline" href="/blog">
    <h2 class="text-3xl font-bold">Latest projects:</h2>
  </a>
  <div class="flex flex-col gap-6 md:grid md:grid-cols-2 md:grid-rows-2">
    {
      projects.map((project) => (
        <Card
          title={project.frontmatter.title}
          body={project.frontmatter.description}
          imgSrc={project.frontmatter.image.url}
          url={project.url}
        />
      ))
    }
  </div>
</div>
