---
import { Image } from "astro:assets";

import Base from "../layouts/Base.astro";
import BlogPostList from "../components/lists/Posts.astro";
import ProjectList from "../components/lists/Projects.astro";

import avatar from "../assets/images/avatar.jpg";
---

<Base title="Alosarjos Site">
  <div class="flex flex-col gap-10">
    <div class="flex flex-row gap-6 mt-8">
      <div>
        <Image
          class="rounded-full shadow-sm shadow-black"
          height={148}
          width={148}
          alt="Personal Avatar"
          src={avatar}
          loading="eager"
        />
      </div>
      <div class="flex flex-col gap-2">
        <span class="text-2xl">Hi there! 👋</span>
        <h1 class="text-5xl font-bold">
          I'm <span class="text-gradient">@alosarjos</span>
        </h1>
        <h2 class="text-3xl font-bold">Software developer and DevOps</h2>
      </div>
    </div>
    <div class="flex flex-col gap-14">
      <BlogPostList />
      <ProjectList />
    </div>
  </div>
</Base>
