---
import { ViewTransitions } from "astro:transitions";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@alosarjos" />
    <meta name="twitter:creator" content="@alosarjos" />
    <meta property="og:url" content="http://alosarjos.com" />
    <meta property="og:title" content="Alosarjos Site" />
    <meta property="og:description" content="Alosarjos personal site." />
    <meta
      property="og:image"
      content="https://alosarjos.com/images/avatar.jpg"
    />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 94, 18, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    color-scheme: dark;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  header {
    max-width: 1200px;
    margin: 0 auto;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    line-height: 1.25 !important;
  }
</style>
